body, html {
  margin: 0%;
  padding: 0%;
  background-image: url("../images/nikolas.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  repeat: no-repeat;

}


h1 {background-color: purple;
  font-family: 'PT Serif', serif;
  text-align: center;
  border: solid black;
  display: inline-block;
  padding: 10pt;
  width: 60%;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20;
}
div {
  text-align: center;
  margin: right;
  width: auto;
;
}


.para {
  display: inline-block;
  margin: 30pt;
  width: 60%;
  background-color: #FFFAF0;
  text-align: center;
  height: auto;
  border: solid black;
  padding: 10pt;
  background: rgba(150, 204, 204, 0.5);

}
.para2 {
  display: inline-block;
  margin: 30pt;
  width: 60%;
  background-color: lightblue;
  text-align: center;
  height: auto;
  border: solid black;
  padding: 10pt;

}


.navbar {
  display: block;
  background: rgba(150, 204, 204, 0.5);;
  text-align: center;
  padding: 20pt;
  width: 50%;
  height: 30pt;
  border: solid black;
  margin: auto;
}

.baritem {
  display: inline-block;
  position: normal;
  width: 25%;
  height: 20pt;
  color: black;
  border: solid black;
  background-color: lightblue;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}
.baritem:hover {
  display: inline-block;
  position: normal;
  width: auto;
  height: 20pt;
  color: black;
  border: solid black;
  background-color: red;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}
.button {
  display: inline-block;
  position: normal;
  width: 25%;
  height: auto;
  color: black;
  border: solid black;
  background-color: lightblue;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}
.button:hover {
  display: inline-block;
  position: normal;
  width: auto;
  height: auto;
  color: black;
  border: solid black;
  background-color: red;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}
