body {
    background-image: url("hw-1/images/nikolas.jpg");


}
h1 {background-color: purple;
  font-family: 'PT Serif', serif;
  text-align: center;
  border: solid black;
  display: inline-block;
  padding: 10pt;
  width: 60%;
}
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20;
}
div {
  text-align: center;
  margin: right
;
}


.para {
  display: inline-block;
  margin: 30pt;
  width: 60%;
  background-color: #FFFAF0;
  text-align: center;
  height: auto;
  border: solid black;
  padding: 10pt;

}

iframe {display: inline-block;
width: 60%;
background-color: #FFFAF0;
text-align: center;
height: 500;
width: 50%;
border: solid black;
padding: 10pt;
margin: 30pt;
}

img {
  display: inline-block;
  border: solid black;
  width: 50%;
  height: auto;
  margin-bottom: 20pt;
}

.navbar {
  background-color: darkblue;
  position: normal;
  text-align: center;
  padding: 20pt;
  width: auto;
  height: 30pt;
  border: solid black;
}

.baritem {
  display: inline-block;
  position: normal;
  width: auto;
  height: 20pt;
  color: black;
  border: solid black;
  background-color: lightblue;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}
.baritem:hover {
  display: inline-block;
  position: normal;
  width: auto;
  height: 20pt;
  color: black;
  border: solid black;
  background-color: red;
  text-align: center;
  font-size: 20pt;
  padding: 5pt;
  margin: 5pt;
}

.placeholder {
  border: solid black;
  margin: 20pt;
  height:250pt;
  width: 60%;
  padding: 20pt;
  background-color: lightgray;
  font-size: 16pt;

}


.contactinfo {
  display: inline-block;
  text-align: center;
  border: solid black;
  margin: 20pt;
  height: auto;
  width: 60%;
  padding: 20pt;
  background-color: lightgray;
  font-size: 16pt;
}
